.cart {
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: var(--clr-white);
  padding: var(--spacing-300);
  border-radius: var(--spacing-150);
}

.cart__heading,
.cart__order-total dd {
  font: var(--text-md-700);
}

.cart__heading {
  color: var(--clr-red);
}

.cart__heading {
  display: flex;
  -moz-column-gap: var(--spacing-100);
  column-gap: var(--spacing-100);

  span {
    font: inherit;
  }
}

.cart__placeholder-img {
  margin-top: var(--spacing-300);
  margin-bottom: var(--spacing-200);
  svg {
    margin-inline: auto;
  }
}

.cart__placeholder-message {
  text-align: center;
  margin-bottom: var(--spacing-200);
  font: var(--text-body);
  color: var(--clr-rose-500);
}

.cart__list {
  margin-top: var(--spacing-300);
}

.cart__legal-container span {
  font: var(--text-sm-500);
}

.cart__order-total dt,
.cart__legal-container {
  color: var(--clr-rose-900);
}

.cart__order-total dt,
.cart__legal-container p {
  font: var(--text-sm-400);
}

.cart__footer {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-300);
  margin-top: var(--spacing-300);
}

.cart__order-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart__legal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 52px;
  background: var(--clr-rose-50);
  border-radius: var(--spacing-100);
}

.cart__legal {
  display: flex;
  align-items: center;
  -moz-column-gap: var(--spacing-100);
  column-gap: var(--spacing-100);
}
