.cart {
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: var(--clr-white);
  padding: var(--spacing-300);
  border-radius: var(--spacing-150);
}

.cart__heading,
.cart__order-total dd {
  font: var(--text-md-700);
}

.cart__heading,
.cart__item-count {
  color: var(--clr-red);
}

.cart__heading {
  display: flex;
  -moz-column-gap: var(--spacing-100);
  column-gap: var(--spacing-100);

  span {
    font: inherit;
  }
}

.cart__placeholder-img {
  margin-top: var(--spacing-300);
  margin-bottom: var(--spacing-200);
  svg {
    margin-inline: auto;
  }
}

.cart__placeholder-message,
.cart__item-price,
.cart__item-total {
  color: var(--clr-rose-500);
}

.cart__placeholder-message {
  margin-bottom: var(--spacing-200);
  font: var(--text-body);
}

.cart__list {
  margin-top: var(--spacing-300);
}

.cart__item {
  display: flex;
  -moz-column-gap: var(--spacing-150);
  column-gap: var(--spacing-150);
  border-bottom: 1px solid var(--clr-rose-100);
  padding-bottom: var(--spacing-200);
}

.cart__item + .cart__item {
  margin-top: var(--spacing-200);
}

.cart__item-details {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "item-name item-name item-name"
    "item-count item-price item-total";
  gap: var(--spacing-100);
}

.cart__item-name,
.cart__item-count,
.cart__item-total,
.cart__legal-container span {
  font: var(--text-sm-500);
}

.cart__item-name,
.cart__order-total dt,
.cart__legal-container {
  color: var(--clr-rose-900);
}

.cart__item-price,
.cart__order-total dt,
.cart__legal-container p {
  font: var(--text-sm-400);
}

.cart__item-name {
  grid-area: item-name;
}

.cart__item-count {
  grid-area: item-count;
}

.cart__item-price {
  grid-area: item-price;
}

.cart__item-total {
  grid-area: item-total;
}

.cart__footer {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-300);
  margin-top: var(--spacing-300);
}

.cart__order-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart__legal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 52px;
  background: var(--clr-rose-50);
  border-radius: var(--spacing-100);
}

.cart__legal {
  display: flex;
  align-items: center;
  -moz-column-gap: var(--spacing-100);
  column-gap: var(--spacing-100);
}
