.modal-container {
  background: var(--clr-white);
  border: none;
  border-radius: var(--spacing-150);
  max-width: 592px;
  width: 100%;

  &:not([open]) {
    display: none;
  }

  &::-webkit-backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
}

.modal {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-400);
  padding: var(--spacing-500);
}

.modal__header h1 {
  margin-bottom: var(--spacing-100);
  font: var(--text-lrg-700);
  color: var(--clr-rose-900);
}

.modal__header p {
  color: var(--clr-rose-500);
}

.modal__header-icon {
  margin-bottom: var(--spacing-300);
  color: var(--clr-green);
}

.modal__body {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-300);
  max-height: 340px;
  padding: var(--spacing-300);
  border-radius: var(--spacing-100);
  background: var(--clr-rose-50);

  ul {
    max-height: 233px;
    overflow-y: auto;
  }
}