/* red hat text regular */
@font-face {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/red-hat-text-v14-latin-regular.woff2")
      format("woff2"),
    url("./assets/fonts/red-hat-text-v14-latin-regular.ttf") format("truetype");
}

/* red hat text semi bold */
@font-face {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/red-hat-text-v14-latin-500.woff2") format("woff2"),
    url("./assets/fonts/red-hat-text-v14-latin-500.ttf") format("truetype");
}

/* red hat text bold */
@font-face {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/red-hat-text-v14-latin-700.woff2") format("woff2"),
    url("./assets/fonts/red-hat-text-v14-latin-700.ttf") format("truetype");
}

:root {
  --clr-red: hsl(14deg, 86%, 42%);
  --clr-rose-50: hsl(20deg, 50%, 98%);
  --clr-rose-100: hsl(13deg, 31%, 94%);
  --clr-rose-300: hsl(14deg, 25%, 72%);
  --clr-rose-400: hsl(7deg, 20%, 60%);
  --clr-rose-500: hsl(12deg, 20%, 44%);
  --clr-rose-900: hsl(14deg, 65%, 9%);
  --clr-green: hsl(159deg, 69%, 38%);
  --clr-black: hsl(0deg, 0, 0);
  --clr-white: hsl(0deg, 0, 100%);
  --text-lrg-700: 700 3.5rem/1.2rem "Red Hat Text", system-ui, sans-serif;
  --text-md-700: 700 1.5rem/1.25rem "Red Hat Text", system-ui, sans-serif;
  --text-body: 500 1rem/1.5rem "Red Hat Text", system-ui, sans-serif;
  --text-sm-500: 500 0.875rem/1.5rem "Red Hat Text", system-ui, sans-serif;
  --text-sm-400: 400 0.875rem/1.5rem "Red Hat Text", system-ui, sans-serif;
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-1100: 88px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer reset {
  * {
    margin: 0;
    padding: 0;
    font: var(--text-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
    font: inherit;
  }

  ul,
  li {
    list-style: none;
  }

  button {
    border: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    white-space: nowrap;
  }

  svg,
  video,
  picture {
    display: block;
  }

  img,
  svg,
  video,
  picture {
    max-width: 100%;
  }

  img {
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

body {
  background-color: var(--clr-rose-50);
}

.page-container {
  width: 100%;
  height: 100dvh;
  padding: 1rem;
}
